{% extends 'registration-login/registration-login-base.html' %}
{% load static %}

{% block content %}
<section class="section-login-registration">
    <div class="login-registration__box">
        {% if request.user.is_authenticated %}
            <div class="paragrah login-registration__paragrah u-center-text">
                Hai già effetuato l'accesso torna all'<a href="/" class="login-registration__link--grey">Homepage</a>
            </div>
        {% else %}
            <div class="login-registration__title u-margin-bottom-medium">
                <h2 class="heading-secondary">
                    Registra il tuo Account
                </h2>
            </div>
            <form class="form" id="form">
                <div class="form__group">
                    <input type="name" placeholder="Username" id="username" class="form__input" required>
                    <label for="name" class="form__label">Username</label>
                </div>

                <div class="form__group">
                    <input type="email" placeholder="Email" id="email" class="form__input" required>
                    <label for="email" class="form__label">Email</label>
                </div>

                <div class="form__group">
                    <input type="password" placeholder="Password" id="password" class="form__input" required>
                    <label for="password" class="form__label">Password</label>
                </div>

                <div class="form__group">
                    <input type="password" placeholder="Conferma Password" id="passwordConf" class="form__input" required>
                    <label for="password" class="form__label">Conferma Password</label>
                </div>
                

                <div class="form__group u-center-text">
                    <button class="btn btn--grey-dark" href="/" id="registrationButton">Registrati &rarr;</button>
                </div>
                
            </form>
            <div class="login-registration__other u-center-text u-margin-top-small" id="other">
                <p class="paragrah login-registration__paragrah">Se hai già un account puoi <a href="/login/" class="login-registration__link--grey">Accedere</a></p>
                <p class="paragrah login-registration__paragrah">Oppure ritorna all'<a href="/" class="login-registration__link--grey">Homepage</a></p>
            </div>
        {% endif %}
    </div>
</section>
{% endblock content %}

{% block js %}
    <script type="module" src="{% static 'js/registration.js' %}"></script>
{% endblock js %}
