{% load sass_tags %}
{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css?family=Lato:100,300,400,700,900" rel="stylesheet">
    <link href="{% sass_src 'scss/main.scss' %}" rel="stylesheet" type="text/css" />
    <title>E-commerce</title>

</head>
<body>
    <nav>
        <input type="checkbox" class="navigation__checkbox" id="navi-toggle">
        <label for="navi-toggle" class="navigation__button">
            <span class="navigation__icon">&nbsp;</span>
        </label>

        <div class="navbar">
            <div class="navbar__logo-box">
                <div class="navbar__logo">
                    <span class="navbar__logo--main">PerfectHome</span>
                    <span class="navbar__logo--sub">Mobili ed Arredamenti</span>
                </div>
            </div>

            <form action="#" class="search">
                <input type="text" class="search__input" placeholder="Cerca arredamento">
                <button class="search__button">
                    <img src="{% static 'img/icon/search.png' %}" alt="" class="search__icon">
                </button>
            </form>

            <ul class="navbar__list">
                <li class="navbar__item"><a href="/" class="navbar__link">Homepage</a></li>
                {% if request.user.is_authenticated %}
                    <li class="navbar__item"><a href="/account/" class="navbar__link">Account</a></li>
                    <li class="navbar__item"><a href="/" class="navbar__link" id="logout">Logout</a></li>
                {% else %}
                    <li class="navbar__item"><a href="/login/" class="navbar__link">Accedi</a></li>
                    <li class="navbar__item"><a href="/registration/" class="navbar__link">Registrati</a></li>
                {% endif %}
            </ul>
        </div>
        
    </nav>
    {% block header %}
    {% endblock header %}
    <main>
        {% block content %}
        {% endblock content %}
    </main>
        <footer class="footer">
            <div class="footer__logo-box">
                <div class="footer__logo">
                    <span class="footer__logo--main">PerfectHome</span>
                    <span class="footer__logo--sub">Mobili ed Arredamenti</span>
                </div>
            </div>
                <div class="row">
                    <div class="col-1-of-4">
                        <div class="footer__navigation">
                            <ul class="footer__list">
                                <li class="footer__item"><a href="#" class="footer__link">Homepage</a></li>
                                <li class="footer__item"><a href="#" class="footer__link">Account</a></li>
                                <li class="footer__item"><a href="#" class="footer__link">Login</a></li>
                                <li class="footer__item"><a href="#" class="footer__link">Registrati</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-1-of-4">
                        <div class="footer__navigation">
                            <ul class="footer__list">
                                <li class="footer__item"><a href="#" class="footer__link">Visa</a></li>
                                <li class="footer__item"><a href="#" class="footer__link">PostePay</a></li>
                                <li class="footer__item"><a href="#" class="footer__link">Mastercard</a></li>
                                <li class="footer__item"><a href="#" class="footer__link">Visa Electron</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-1-of-4">
                        <div class="footer__navigation">
                            <ul class="footer__list">
                                <li class="footer__item"><a href="#" class="footer__link">Problemi di pagamento</a></li>
                                <li class="footer__item"><a href="#" class="footer__link">Rimborsi</a></li>
                                <li class="footer__item"><a href="#" class="footer__link">Asistensa</a></li>
                                <li class="footer__item"><a href="#" class="footer__link">Contatto per resi</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-1-of-4">
                        <p class="footer__copyright">
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Fuga recusandae, dignissimos corrupti, perspiciatis repellendus eum velit quia molestias in neque veritatis. Veritatis sequi dicta blanditiis dolore dolor voluptates neque nobis!
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Rerum harum soluta adipisci!
                        </p>
                    </div>
                </div>
        </footer>

    {% block js %}
    {% endblock js %}
    
</body>
</html>