.login-registration {
    height: 100vh;
    width: 100vw;
    background-image: linear-gradient(
        to right bottom, 
        rgba($color-grey-light-2, 0.7), 
        rgba($color-grey-dark, 0.7)), 
        url('/static/img/photo-2.png');
}

.section-login-registration {
    @include absCenter;
    background-color: rgba($color-white, 0.7);
    padding: 7rem 6rem;
    border-radius: .7rem;
    box-shadow: 0 1.5rem 4rem rgba($color-black, .15);

    @include respond(tab-port) {
        padding: 5rem 3rem;
    }
    @include respond(phone) {
        width: 90%;
    }
}

.login-registration {

    &__title {
        text-align: center;
    }

    &__link {
        font-size: 2rem;
        font-weight: 600;

        &--grey {
            &:link, 
            &:visited {
                color: $color-grey-dark;
                text-decoration: none;
                text-transform: uppercase;
                display: inline-block;
                transition: all .2s;
            }
    
            &:hover,
            &:active {
                background-color: $color-white;
                box-shadow: 0 1rem 2rem rgba($color-black, .4);
                transform: rotate(5deg) scale(1.3);
            }
        }

        &--green {
            &:link, 
            &:visited {
                color: $color-primary;
                text-decoration: none;
                text-transform: uppercase;
                display: inline-block;
                transition: all .2s;
            }
    
            &:hover,
            &:active {
                background-color: $color-primary;
                color: $color-white;
                box-shadow: 0 1rem 2rem rgba($color-black, .4);
                transform: rotate(5deg) scale(1.3);
            }
        }
    }

    &__paragrah {
        font-size: 1.7rem;
        margin-bottom: 0rem;

        @include respond(tab-port) {
            font-size: 1.2rem;
        }
    }
}