.u-center-text {text-align: center !important;}

.u-margin-bottom-small {margin-bottom: 1.5rem !important;}
.u-margin-bottom-medium {
    margin-bottom: 4rem !important;

    @include respond(tab-port) {
        margin-bottom: 3rem !important;
    }

}
.u-margin-bottom-big {
    margin-bottom: 8rem !important;

    @include respond(tab-port) {
        margin-bottom: 5rem !important;
    }
}

.u-margin-left-medium{margin-left: 6rem!important;}


.u-margin-top-small {margin-top: 3rem !important;}
.u-margin-top-medium {margin-top: 6rem !important;}
.u-margin-top-big {margin-top: 8rem !important;}
.u-margin-top-huge {margin-top: 10rem !important;}

.absCenter {@include absCenter;}
.grey {background-color: $color-grey-light-1 !important;}