// COLORS
$color-grey-light-1: #f7f7f7;
$color-grey-light-2: #eee;

$color-grey-dark: #777;
$color-grey-dark-2: #999;
$color-grey-dark-3: #333;

$color-secondary-dark: #ff7730;
$color-primary: #7ed56f;

$color-white: #fff;
$color-black: #000;

// FONT
$default-font-size: 1.6rem;

// GRID
$grid-width: 90%;
$gutter-vertical: 10rem;
$gutter-vertical-small: 8rem;
$gutter-horizontal: 6rem;