.search {
    width: 25%;
    height: 50%;

    display: flex;
    align-items: center;
    justify-content: center;

    @include respond(phone) {
        display: none;
    }

    @include respond(tab-land){
        width: 27%;    
    }

    @include respond(tab-port){
        width: 30%;    
    }

    &__input {
        width: 90%;
        height: 100%;
        border: none;
        border-radius: 100px;
        padding-left: 4rem;
        background-color: $color-grey-light-1;


        font-family: inherit;
        font-size: 1.7rem;
        color: inherit;

        transition: all .5s;

        &:focus,
        &:hover {
            outline: none;
            box-shadow: 0 1rem 2rem rgba($color-black, .2);
            width: 100%;

            &:after {
                transform: scaleX(1.4) scaleY(1.6);
                opacity: 0;
            }
        }

        @include respond(tab-land){
            font-size: 1.5rem; 
            padding-left: 2rem;   
       
        }
    
        @include respond(tab-port){
            font-size: 1.2rem; 
            padding-left: 1.5rem; 
        }

        @include respond(phone){
            font-size: 2rem; 
            padding-left: 2.5rem; 
        }
    }

    &__button {
        border: none;
        background-color: $color-grey-light-1;
        transform: translateX(-4rem);

        &:focus {
            outline: none;
        }


        @include respond(tab-port){
            transform: translateX(-2.5rem);
        }

        @include respond(phone){
            transform: translateX(-4rem);
        }

    }

    &__icon {
        height: 2rem;
        width: 2rem;

        @include respond(tab-land){
            height: 1.5rem;
            width: 1.5rem;
        }

        @include respond(tab-port){
            height: 1.5rem;
            width: 1.5rem;
        }

        @include respond(phone){
            height: 2rem;
            width: 2rem;
        }
    }
}
